skills/workflow_n8n_architect/assets/workflow_json_template.json
{
  "name": "Workflow Name",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-path",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node-uuid",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "generated-webhook-uuid"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"fieldName\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validation-node-uuid",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "name": "processedField",
              "value": "={{$json[\"inputField\"]}}",
              "type": "string"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeOtherFields": true
        }
      },
      "id": "transform-node-uuid",
      "name": "Transform Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/endpoint",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "api-call-node-uuid",
      "name": "External API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "credential-uuid-placeholder",
          "name": "API Credential Name"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "responseBody": "={{{\n  \"status\": \"success\",\n  \"message\": \"Processed successfully\",\n  \"timestamp\": new Date().toISOString()\n}}}",
          "responseData": "noData"
        }
      },
      "id": "respond-success-uuid",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "name": "error",
              "value": "Validation failed",
              "type": "string"
            },
            {
              "name": "code",
              "value": "VALIDATION_ERROR",
              "type": "string"
            }
          ]
        }
      },
      "id": "error-handler-uuid",
      "name": "Format Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseBody": "={{{\n  \"status\": \"error\",\n  \"error\": $json[\"error\"],\n  \"code\": $json[\"code\"]\n}}}",
          "responseData": "noData"
        }
      },
      "id": "respond-error-uuid",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "External API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "External API Call": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "version-uuid-placeholder"
}
